
<div class="modal">
    <header class="bar bar-header bar-calm">
    	<h1 class="title" ng-show="showFirst">Logga in</h1>
      	<h1 class="title" ng-show="showSecond">Registrera</h1>
      	
      	<div class="title" ng-show="showThird"></div>
      	<h1 class="title" ng-show="showThird">ToolBox</h1>
      	<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </header>

	<ion-content class="has-header" overflow-scroll="true" padding="true">

		<!-- UNUSED -->
 		<div id="test1" ng-show="showFirst">
			<div class="row row-center">
			    <div class="col col-center">
					<div class="list">
						<label class="item item-input">
					    	<span class="input-label">Användarnamn</span>
					    	<input type="text" placeholder="Ex: chattyAndy"><br>
					  	</label>
					  	<label class="item item-input">
					    	<span class="input-label">Lösenord</span>
					    	<input type="password" placeholder="Minst 8 tecken"><br>
					  	</label>

					 	<div class="row row-center">
					    	<div class="col col-center">
								<a class="button button-block button-positive" href="login.html">Logga in</a>
								<button class="button button-block button-clear button-assertive">Glömt Lösenord?</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- UNUSED -->
	 	<div id="test2" ng-show="showSecond">
			<div class="row row-center">
			    <div class="col col-center">
					<div class="list">
						<label class="item item-input">
					   		<span class="input-label">Önskat användarnamn</span>
					    	<input type="text" placeholder="Ex: chattyAndy"><br>
					  	</label>
					 	<label class="item item-input">
					    	<span class="input-label">Lösenord</span>
					    	<input type="password" placeholder="Minst 8 tecken"><br>
					  	</label>

						<div class="row row-center">
							<div class="col col-center">
								<a class="button button-block button-positive" href="login.html">Registrera användare</a>
								<button class="button button-block button-clear button-assertive">Avbryt</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	 	<div id="test3" ng-show="showThird">			  
			  <ion-tabs class="tabs-striped tabs-color-positive">
	
						<ion-tab title="Home" icon-on="icon ion-home" icon-off="icon ion-home" on-select="showModal('tab1')" >
						</ion-tab>

						<ion-tab title="People" icon-on="icon ion-chatbubbles" icon-off="icon ion-chatbubbles" on-select="showModal('tab2')">
						</ion-tab>

						<ion-tab title="Channels" icon-on="icon ion-pound" icon-off="icon ion-pound" on-select="showModal('tab3')">
						</ion-tab>
			   
			  </ion-tabs>


		 		<div class="has-header list card">
					<a class="item item-icon-left" ng-click="goHome()" ng-show="firstTab">
				    	<i class="icon ion-home"></i>
				    	Hem
				  	</a>
				  	<a class="item item-icon-left" ng-click="logOut()" ng-show="firstTab">
				    	<i class="icon ion-log-out"></i>
				    	Logga Ut
				  	</a>
				  	<a class="item item-icon-left" ng-click="showContacts()" ng-show="secondTab">
				    	<i class="icon ion-person-stalker"></i>
				    	Kontakter
				  	</a>
				  	<a class="item item-icon-left" ng-click="showPrivateChannels()" ng-show="secondTab">
				    	<i class="icon ion-chatboxes"></i>
				    	Privata Meddelanden
				  	</a>
				  	<a class="item item-icon-left" ng-show="thirdTab" ng-click="showChannelList()">
				    	<i class="icon ion-pound"></i>
				    	kanaler
				  	</a>
				  	<a class="item item-icon-left" ng-show="thirdTab">
				    	<i class="icon ion-search"></i>
				    	Sök
				  	</a>				
				</div>



			<div class="has-header list card">
                <div ng-show="showChannels">
                	<div class="row col-50">
                		<div class="button button-clear button-assertive" ng-click="hideChannels()"><span class="icon ion-close">Stäng fönster</span></div>
                	</div>
                		
	                	<div class="col" ng-controller="channelCtrl">
		                    <div class="list"> 
		                        <div class="item" ng-repeat="channel in channelList | orderBy:'-userCounter'">
		                            <div class="row"> 
		                                <div class="col col-15">
		                                    <div class="item-icon-left">
		                                        <i class="icon ion-chatbubble-working"></i>
		                                    </div>
		                                </div>
		                                <div class="col col-50">   
		                                     <p ng-click="joinChannel(channel.$id, false)">{{channel.channelName}} </p> 
		                                </div> 
		                                <div class="col col-15">
		                                    <span class="badge badge-assertive">{{channel.userCounter}}</span>
		                                </div>  
		                            </div>       
		                        </div>                
		                    </div>   
		                </div>
                </div>  
            </div>    
		</div>

 	</ion-content>
</div>


<!-- USE THE 'SHOWMODAL()'-CALL WITH A STRING'.
THE STRING IS COMPARED IN MODALMODULE.JS AND EVALUATED
USE NG-SHOW TO DETERMINE THE EVALUTATION. 

           <div ng-controller="modalCtrl">
                 <button class="btn btn-primary btn-block" ng-click="showModal('test1')">Show Modal 1</button>
                 <button class="btn btn-primary btn-block" ng-click="showModal('test2')">Show Modal 2</button>
                 <button class="btn btn-primary btn-block" ng-click="showModal('test3')">Show Modal 3</button>
            </div>

-->

