<ion-pane>
      <div class="bar bar-header bar-calm" ng-controller="modalCtrl">
          <button class="button button-icon icon ion-chevron-left" ng-click="getBack()"></button>
          <h1 class="title">{{userAlias}}</h1>
          <button class="button button-icon icon ion-navicon" ng-click="showModal('modal3')"></button>    
      </div>

        <ion-content class="has-header">
            <div class="row responsive-sm">
                    <div class="col">

                      <div class="row responsive-sm">
                        <div class="">
                             <img src="img/userDefault.png"  height="80" width="80" /> 
                        </div>
                      </div>

                      
                          <div class="row">
                            <div class="col">
                              <p>Alias: {{userAlias}}</p>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <p>Email: {{userEmail}}</p>
                            </div>
                          </div>
                    
                     </div>

              </div>

                      <div class="row responsive-sm">
                        <div class="col col-25 col-offset-33">
                            <button class="button button-block button-outline button-calm" ng-click="privateChat()">
                               <i class="icon ion-ios-chatboxes-outline"></i>  Prata Privat
                            </button>

                            <button class="button button-block button-outline button-calm" ng-click="addToContacts()">
                                <i class="icon ion-ios-personadd-outline"></i>  Lägg till kontakt
                            </button>
                        </div>
                      </div>
              <!--
              <button class="button button-stable" ng-click="privateChat()">Prata privat</button> 
              <button class="button button-stable" ng-click="addToContacts()">Lägg till i mina kontakter</button> 
              -->
        </ion-content>   

</ion-pane>    